{
    "proseWrap": "always",
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 110,
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ["*.html", "*.json"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
