@font-face {
    font-family: "Finntype";
    src: url("https://static.finncdn.no/_c/static/fonts/FINNTypeStrippet-Light.woff2") format("woff2"),
        url("https://static.finncdn.no/_c/static/fonts/FINNTypeStrippet-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Finntype";
    src: url("https://static.finncdn.no/_c/static/fonts/FINNTypeStrippet-Medium.woff2") format("woff2"),
        url("https://static.finncdn.no/_c/static/fonts/FINNTypeStrippet-Medium.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html {
    /* Trickery: 1rem = 10px */
    font-size: 62.5%;
}

body {
    /* Trickery: resets a more sensible default font-size */
    @apply bg-white text-gray-700 text-16;
    /* Always stretch body to fill the width, this makes the behaviour of the scrollbar a little nicer in some cases */
    min-height: 100%;
    /* Always show Scrollbar to prevent content jumping in certain situations (dynamic loading etc) */
    overflow-y: scroll;
}

dt,
dd {
    margin: 0 16px;
}

h1,
h2,
h3,
h4,
h5,
ul,
ol,
dl,
p,
blockquote {
    margin: 0 0 8px 0;
}

/*
  * Default anchor styles 
  */
a {
    @apply text-blue-600;
    @apply cursor-pointer;
    @apply no-underline;
}

a:active,
a:focus,
a:hover {
    @apply underline;
}

/*
  * normalize sets these to 'bolder', which doesn't work with our font
  */
b,
strong {
    font-weight: 700;
}

/* Used to be part of normalize.css */
[hidden] {
    display: none !important;
}

/* tabindex=-1 are often used on skiplink targets, this ensures the outline is only visible when it should */
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: none;
}

/* fieldset + legend tries to place the legend on the fieldset's "line", we need to override this to get sane behavior */
legend {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;

  & + * {
    clear: both;
  }
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}
