:root {
    --f-blue-50: #eff6ff;
    --f-blue-100: #dbeafe;
    --f-blue-200: #bfdbfe;
    --f-blue-300: #93c5fd;
    --f-blue-400: #60a5fa;
    --f-blue-500: #3b82f6;
    --f-blue-600: #2563eb;
    --f-blue-700: #1d4ed8;
    --f-blue-800: #1e40af;
    --f-blue-900: #1e3a8a;
    --f-aqua-50: #f0f9ff;
    --f-aqua-100: #e0f2fe;
    --f-aqua-200: #bae6fd;
    --f-aqua-300: #7dd3fc;
    --f-aqua-400: #38bdf8;
    --f-aqua-500: #0ea5e9;
    --f-aqua-600: #0284c7;
    --f-aqua-700: #0369a1;
    --f-aqua-800: #075985;
    --f-aqua-900: #0c4a6e;
    --f-green-50: #ecfdf5;
    --f-green-100: #d1fae5;
    --f-green-200: #a7f3d0;
    --f-green-300: #6ee7b7;
    --f-green-400: #34d399;
    --f-green-500: #10b981;
    --f-green-600: #059669;
    --f-green-700: #047857;
    --f-green-800: #065f46;
    --f-green-900: #064e3b;
    --f-yellow-50: #fefce8;
    --f-yellow-100: #fef9c3;
    --f-yellow-200: #fef08a;
    --f-yellow-300: #fde047;
    --f-yellow-400: #facc15;
    --f-yellow-500: #eab308;
    --f-yellow-600: #ca8a04;
    --f-yellow-700: #a16207;
    --f-yellow-800: #854d0e;
    --f-yellow-900: #713f12;
    --f-red-50: #fef2f2;
    --f-red-100: #fee2e2;
    --f-red-200: #fecaca;
    --f-red-300: #fca5a5;
    --f-red-400: #f87171;
    --f-red-500: #ef4444;
    --f-red-600: #dc2626;
    --f-red-700: #b91c1c;
    --f-red-800: #991b1b;
    --f-red-900: #7f1d1d;
    --f-bluegray-50: #f8fafc;
    --f-bluegray-100: #f1f5f9;
    --f-bluegray-200: #e2e8f0;
    --f-bluegray-300: #cbd5e1;
    --f-bluegray-400: #94a3b8;
    --f-bluegray-500: #64748b;
    --f-bluegray-600: #475569;
    --f-bluegray-700: #334155;
    --f-bluegray-800: #1e293b;
    --f-bluegray-900: #0f172a;
    --f-gray-50: #fafafa;
    --f-gray-100: #f5f5f5;
    --f-gray-200: #e5e5e5;
    --f-gray-300: #d4d4d4;
    --f-gray-400: #a3a3a3;
    --f-gray-500: #737373;
    --f-gray-600: #525252;
    --f-gray-700: #404040;
    --f-gray-800: #262626;
    --f-gray-900: #171717;
    --f-white: #fff;
    --f-current: currentColor;
    --f-transparent: transparent;
    --f-blue-50-rgb: 239, 246, 255;
    --f-blue-100-rgb: 219, 234, 254;
    --f-blue-200-rgb: 191, 219, 254;
    --f-blue-300-rgb: 147, 197, 253;
    --f-blue-400-rgb: 96, 165, 250;
    --f-blue-500-rgb: 59, 130, 246;
    --f-blue-600-rgb: 37, 99, 235;
    --f-blue-700-rgb: 29, 78, 216;
    --f-blue-800-rgb: 30, 64, 175;
    --f-blue-900-rgb: 30, 58, 138;
    --f-aqua-50-rgb: 240, 249, 255;
    --f-aqua-100-rgb: 224, 242, 254;
    --f-aqua-200-rgb: 186, 230, 253;
    --f-aqua-300-rgb: 125, 211, 252;
    --f-aqua-400-rgb: 56, 189, 248;
    --f-aqua-500-rgb: 14, 165, 233;
    --f-aqua-600-rgb: 2, 132, 199;
    --f-aqua-700-rgb: 3, 105, 161;
    --f-aqua-800-rgb: 7, 89, 133;
    --f-aqua-900-rgb: 12, 74, 110;
    --f-green-50-rgb: 236, 253, 245;
    --f-green-100-rgb: 209, 250, 229;
    --f-green-200-rgb: 167, 243, 208;
    --f-green-300-rgb: 110, 231, 183;
    --f-green-400-rgb: 52, 211, 153;
    --f-green-500-rgb: 16, 185, 129;
    --f-green-600-rgb: 5, 150, 105;
    --f-green-700-rgb: 4, 120, 87;
    --f-green-800-rgb: 6, 95, 70;
    --f-green-900-rgb: 6, 78, 59;
    --f-yellow-50-rgb: 254, 252, 232;
    --f-yellow-100-rgb: 254, 249, 195;
    --f-yellow-200-rgb: 254, 240, 138;
    --f-yellow-300-rgb: 253, 224, 71;
    --f-yellow-400-rgb: 250, 204, 21;
    --f-yellow-500-rgb: 234, 179, 8;
    --f-yellow-600-rgb: 202, 138, 4;
    --f-yellow-700-rgb: 161, 98, 7;
    --f-yellow-800-rgb: 133, 77, 14;
    --f-yellow-900-rgb: 113, 63, 18;
    --f-red-50-rgb: 254, 242, 242;
    --f-red-100-rgb: 254, 226, 226;
    --f-red-200-rgb: 254, 202, 202;
    --f-red-300-rgb: 252, 165, 165;
    --f-red-400-rgb: 248, 113, 113;
    --f-red-500-rgb: 239, 68, 68;
    --f-red-600-rgb: 220, 38, 38;
    --f-red-700-rgb: 185, 28, 28;
    --f-red-800-rgb: 153, 27, 27;
    --f-red-900-rgb: 127, 29, 29;
    --f-bluegray-50-rgb: 248, 250, 252;
    --f-bluegray-100-rgb: 241, 245, 249;
    --f-bluegray-200-rgb: 226, 232, 240;
    --f-bluegray-300-rgb: 203, 213, 225;
    --f-bluegray-400-rgb: 148, 163, 184;
    --f-bluegray-500-rgb: 100, 116, 139;
    --f-bluegray-600-rgb: 71, 85, 105;
    --f-bluegray-700-rgb: 51, 65, 85;
    --f-bluegray-800-rgb: 30, 41, 59;
    --f-bluegray-900-rgb: 15, 23, 42;
    --f-gray-50-rgb: 250, 250, 250;
    --f-gray-100-rgb: 245, 245, 245;
    --f-gray-200-rgb: 229, 229, 229;
    --f-gray-300-rgb: 212, 212, 212;
    --f-gray-400-rgb: 163, 163, 163;
    --f-gray-500-rgb: 115, 115, 115;
    --f-gray-600-rgb: 82, 82, 82;
    --f-gray-700-rgb: 64, 64, 64;
    --f-gray-800-rgb: 38, 38, 38;
    --f-gray-900-rgb: 23, 23, 23;
    --f-primaryBlue: var(--f-blue-600);
    --f-secondaryBlue: var(--f-aqua-400);
    --f-ice: var(--f-aqua-50);
    --f-toothpaste: var(--f-aqua-200);
    --f-mint: var(--f-green-200);
    --f-pea: var(--f-green-400);
    --f-lime: var(--f-green-600);
    --f-banana: var(--f-yellow-100);
    --f-salmon: var(--f-red-200);
    --f-watermelon: var(--f-red-400);
    --f-cherry: var(--f-red-600);
    --f-marble: var(--f-bluegray-100);
    --f-sardine: var(--f-bluegray-300);
    --f-stone: var(--f-gray-500);
    --f-licorice: var(--f-gray-700);
    --f-text-primary: var(--f-gray-700);
    --f-text-secondary: var(--f-gray-500);
    --f-text-danger: var(--f-red-600);
}
