.last-child\:mb-0 > :last-child {
    margin-bottom: 0;
}

.focus\:outline-none:focus {
    outline: none;
}

.tap-highlight-transparent {
  -webkit-tap-highlight-color: transparent;
}

.tabular-nums {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.reduced-motion\:duration-0 {
  @media (prefers-reduced-motion) {
    transition-duration: 0s;
  }
}
