.last-child\:mb-0 > :last-child {
    margin-bottom: 0;
}

.focus\:outline-none:focus {
    outline: none;
}

.tabular-nums {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
