.last-child\:mb-0 > :last-child {
    margin-bottom: 0;
}

.focus\:outline-none:focus {
    outline: none;
}

.tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
}

.tabular-nums {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.reduced-motion\:duration-0 {
    @media (prefers-reduced-motion) {
        transition-duration: 0s;
    }
}

/* iOS position fixed doesn't work under certain scenarios */
.fixed-ios-fix {
    transform: translate3d(0, 0, 0);
}

/* add .f-grid to a Fabric .grid to fix conflict between Troika and Fabric */
.f-grid.grid:not(.grid--auto-height):after,
.f-grid.grid:not(.grid--auto-height):before {
    content: none;
}

/* add t-grid to a Troika .grid to fix conflict between Troika and Fabric */
.t-grid.grid {
    display: block;
}
