.f-card {
    @apply shadow-none tap-highlight-transparent;

    &:hover {
        @apply shadow-none bg-gray-50;
    }

    &:active {
        @apply shadow-none;
    }
}

.f-card .field.in-card {
    position: static;

    & .input-toggle {
        position: static;
    }

    & .input-toggle input {
        width: 100%;
        height: 100%;
        clip: auto;
        appearance: none;
        left: 0;
        top: 0;
        cursor: pointer;
    }
}
