.input {
    @apply text-16 relative;

    & input,
    & textarea {
        @apply block border bg-white text-honkburgundy-800 border-honkburgundy-800 p-16 rounded-4 w-full;

        &:hover {
            @apply bg-honkgray-50;
        }
        &:focus {
             @apply ring-2 ring-inset ring-honkburgundy-800 border-honkburgundy-800 outline-none;
             caret-color: var(--f-honkburgundy-800);
        }
    }

    & input[type="number"] {
        -moz-appearance: textfield;
    }

    & select {
        @apply appearance-none pl-32 cursor-pointer;
        @apply block border bg-white text-honkburgundy-800 border-honkburgundy-800 p-16 rounded-4 w-full;

        &:hover {
             @apply bg-honkgreen-50;
         }
        &:focus {
             @apply ring-1 ring-inset ring-honkburgundy-800 border-honkburgundy-800 outline-none;
             caret-color: var(--f-honkburgundy-800);
         }
    }

    & label {
        @apply antialiased block relative text-14 text-honkburgundy-800 font-bold pb-4 cursor-pointer;
    }

    & textarea {
        resize: vertical;
        min-height: 42px;
        @media (--min480) {
            min-height: 45px; /* height on desktop */
        }
    }

    & > .input__sub-text {
        @apply text-12 mt-4 block;
    }

    @nest .is-invalid &, &.input--is-invalid {
        & input, & select, & textarea {
            @apply border-honkred-800;

            &:focus {
                @apply ring-1 ring-inset ring-red-600 outline-none;
            }
        }

        & label, & .input__sub-text {
            @apply text-honkred-800;
        }
    }

    @nest .is-disabled &, &.input--is-disabled {
        & input, & select, & textarea {
            @apply bg-honkgray-200 border-honkburgundy-200 text-honkburgundy-200 pointer-events-none;
        }
        & .input--select__wrap:before {
            opacity: 0.25;
        }
    }

    &.input--is-read-only {
        & input,
        & select,
        & textarea {
            @apply pl-0 bg-transparent border-transparent pointer-events-none;
        }

        & .input--select__wrap:before {
            display: none;
        }
    }

    @nest .has-suffix & input, &.input--search input {
        @apply pr-40;
    }
    @nest .has-wide-suffix & input {
        @apply pr-80;
    }
    @nest .has-prefix & input {
        @apply pl-40;
    }
    @nest .has-wide-prefix & input {
        @apply pl-80;
    }
}

.input--select__wrap {
    @apply relative;

    &:before {
        @apply block absolute left-0 bottom-0 w-32 h-full mr-16;
        content: "";
        background-image: svg-load("16/chevron-down.svg", currentColor: "#404040");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 62.5%;
        pointer-events: none;
    }
}

.input-toggle {
    @apply relative py-1;

    & label {
        @apply cursor-pointer text-16 text-honkburgundy-800 py-2 pl-28 select-none relative block;
        -webkit-tap-highlight-color: transparent;
    }

    & input {
        @apply sr-only;

        & + label:before {
            @apply border border-honkburgundy-800 absolute block transition-all left-0 w-20 h-20 h-20 top-2;
            content: "";
        }

        &:hover + label:before {
            @apply bg-honkgreen-100;
        }

        &:focus + label {
            outline: 2px solid var(--f-honkgreen-600);
            outline-offset: 1px;
        }

        &:focus:not(:focus-visible) + label {
            outline: none;
        }

        &:focus-visible + label {
            outline: 2px solid var(--f-honkgreen-600);
            outline-offset: 1px;
        }
    }

    & input[type="radio"] {
        & + label:before {
            @apply rounded-full border-honkburgundy-800;
            border-width: 1px;
        }

        &:checked + label:before {
            @apply border-honkburgundy-800;
            border-width: 6px;
        }

        &:hover + label:before {
            @apply bg-honkgreen-100 border-honkburgundy-800;
        }
    }

    & input[type="checkbox"] {
        & + label:before {
            @apply rounded-2 border-honkburgundy-800;
            border-width: 1px;
        }

        &:indeterminate + label:before,
        &:checked + label:before {
            @apply bg-honkburgundy-800;
            background-position: center;
            background-image: svg-load("16/check.svg", currentColor: "white");
        }

        &:indeterminate:hover + label:before,
        &:checked:hover + label:before {
            @apply bg-honkgreen-100 border-honkburgundy-800;
        }

        &:indeterminate + label:before {
            @apply text-white text-center font-bold border-honkburgundy-800;
            content: "–";
            line-height: 1.1;
            background-image: none;
            border-width: 1px;
        }
    }

    @nest .is-disabled &, &.input-toggle--is-disabled {
        & label {
            @apply text-honkgray-400 pointer-events-none;
        }

        & input {
            @apply pointer-events-none;
        }

        /* we duplicate 'type' here for specificity */
        & input[type="radio"] + label:before, & input[type="checkbox"] + label:before {
            @apply border-honkburgundy-800;
        }

        & input[type="checkbox"]:checked + label:before {
            @apply bg-transparent border-honkburgundy-800;
            border-width: 1px;
        }
    }
}

.segment-control {
    @apply inline-flex relative font-bold rounded-8;

    @nest .is-disabled &, &.segment-control--is-disabled {
        & .segment-control__item, & label {
            @apply bg-honkgray-200 border-honkgray-200 text-honkgray-300 pointer-events-none;
        }
        & input[type="radio"]:checked + .segment-control__item, & input[type="radio"]:checked + label {
            @apply bg-honkburgundy-800 border-gray-300 text-bluegray-400;
        }
    }

    & label,
    & .segment-control__item {
        /* from .input label */
        @apply block relative text-14 font-bold pb-4 cursor-pointer;

        @apply text-honkburgundy-800 text-center bg-white border border-honkburgundy-800 py-10 px-14;
        flex: 0 0 auto;

        &:first-of-type {
            @apply rounded-tl-8 rounded-bl-8;
        }
        &:not(:last-of-type) {
            @apply border-r-0;
        }
        &:last-of-type {
            @apply rounded-tr-8 rounded-br-8;
        }
        &:hover {
            @apply bg-honkgreen-100 border-honkburgundy-800;
        }
    }

    & [type="radio"] {
        @apply sr-only;
    }
    & [type="radio"]:checked {
        & + label,
        & + .segment-control__item {
            @apply bg-honkburgundy-800 border-honkburgundy-800 text-white pr-16;
        }
        & + label + * + label,
        & + .segment-control__item + * + .segment-control__item {
            @apply border-l-0;
        }
    }

    &.segment-control--justified {
        @apply flex;

        & label,
        & .segment-control__item {
            flex: 1 0 auto;
        }
    }
    &.segment-control--small {
        & label,
        & .segment-control__item {
            padding: 5px 8px !important;
            @apply text-12;
        }
    }
}
