.grid--vertical-center {
    @apply items-stretch;
}

/*

    # grid--cols{f}to{t}
    Grid system for dynamic content. This allows any amount of units
    to be spread dynamically on line(s), from {f} on each line on mobile
    to {t} on each line on larger screens

    {f}
        1, 2, 3

    {t}
        2, 3, 4, 5, 6, 7

*/

.grid--cols1to2,
.grid--cols1to3,
.grid--cols1to4 {
    grid-template-columns: 1fr;
}

.grid--cols2to3,
.grid--cols2to4,
.grid--cols2to5,
.grid--cols2to6 {
    grid-template-columns: 1fr 1fr;
}

.grid--cols3to4,
.grid--cols3to6,
.grid--cols3to7 {
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 479px) {
    .grid--cols2to6,
    .grid--cols2to5 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .grid--cols2to6,
    .grid--cols2to5,
    .grid--cols1to4,
    .grid--cols1to3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 480px) {
    .grid--cols1to3,
    .grid--cols1to4 {
        grid-template-columns: 1fr 1fr;
    }

    .grid--cols2to5,
    .grid--cols2to6 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .grid--cols1to2 {
        grid-template-columns: 1fr 1fr;
    }

    .grid--cols1to3,
    .grid--cols2to3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid--cols1to4,
    .grid--cols2to4,
    .grid--cols3to4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .grid--cols2to5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .grid--cols2to6,
    .grid--cols3to6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .grid--cols3to7 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .grid--cols3to4 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols2to4,
    .grid--cols2to3 {
        grid-template-columns: 1fr 1fr;
    }
}

/*

    # Cols n from + cols n upto
 
    Highly customizable grid-sizing system

    - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    .cols{n}upto{breakpoint}, and .cols{n}from990
    these 2 work, and should in most cases be used together.

    - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    cols{n}upto{breakpoint}
    cols{n}from990

    {n}
        1, 2, 3, 4, 5, 6, 7, 8

    {breakpoint}
        480, 640, 768, 990


*/

@media (max-width: 989px) {
    .grid--cols1upto990 {
        grid-template-columns: 1fr;
    }
    .grid--cols2upto990 {
        grid-template-columns: 1fr 1fr;
    }
    .grid--cols3upto990 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols4upto990 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid--cols5upto990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols6upto990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols7upto990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols8upto990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 767px) {
    .grid--cols1upto768 {
        grid-template-columns: 1fr;
    }
    .grid--cols2upto768 {
        grid-template-columns: 1fr 1fr;
    }
    .grid--cols3upto768 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols4upto768 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid--cols5upto768 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols6upto768 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols7upto768 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols8upto768 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 639px) {
    .grid--cols1upto640 {
        grid-template-columns: 1fr;
    }
    .grid--cols2upto640 {
        grid-template-columns: 1fr 1fr;
    }
    .grid--cols3upto640 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols4upto640 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid--cols5upto640 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols6upto640 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols7upto640 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols8upto640 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 479px) {
    .grid--cols1upto480 {
        grid-template-columns: 1fr;
    }
    .grid--cols2upto480 {
        grid-template-columns: 1fr 1fr;
    }
    .grid--cols3upto480 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols4upto480 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid--cols5upto480 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols6upto480 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols7upto480 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols8upto480 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 990px) {
    .grid--cols1from990 {
        grid-template-columns: 1fr;
    }
    .grid--cols2from990 {
        grid-template-columns: 1fr 1fr;
    }
    .grid--cols3from990 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid--cols4from990 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid--cols5from990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols6from990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols7from990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .grid--cols8from990 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
