.page-container {
    /* TODO: might need to clearfix/flow-root this. Check if this is still a problem in modern browers. See https://github.schibsted.io/finn/troika/issues/237 */
    @apply bg-transparent m-0 p-0;
    max-width: 944px; /* Max usable width inside the banner-straitjacket (15 + 980 + 15 = 1010 which is the width of top banner ) */
    padding-left: 16px;
    padding-right: 16px;

    &.always-centered {
        @apply mx-auto;
    }
}

@media (min-width: 940px) {
    .page-container {
        @apply mx-auto;
        padding-left: 0;
        padding-right: 0;
    }
}
