.f-step {
    &:last-child > *:last-child {
        padding-bottom: 0;
    }
    &.step-v {
        grid-template-rows: 20px auto;
    }
    &.step-v-l {
        grid-template-columns: 20px 1fr;
    }
    &.step-v-r {
        grid-template-columns: 1fr 20px;
    }
    &.step-h {
        grid-template-rows: auto 20px;
        grid-template-columns: 1fr 20px 1fr;
    }
    &.step-v:last-child .step-line {
        display: none;
    }
    &.step-h:last-child .step-line-h-r,
    &.step-h:first-child .step-line-h-l {
        background-color: transparent !important;
    }
}
