<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <%- include('nav.html'); -%>

    <main>
      <h1>Form elements</h1>
      <div class="mb-24">
        <h2 class="h3 mt-64 text-bluegray-500">Input</h2>
        <syntax-highlight class="mb-0">
          <div class="input">
            <label for="normalInput">Text</label>
            <input type="text" id="normalInput" />
            <div class="input__sub-text">Hint message</div>
          </div>
        </syntax-highlight>

        <section x-data="{ invalid: false, disabled: false, readonly: false }" class="bg-bluegray-50">
          <div class="p-16 border-t-2 border-bluegray-200">
            <div
              class="input input--text"
              :class="{ 'input--is-invalid': invalid, 'input--is-disabled': disabled, 'input--is-read-only': readonly }"
            >
              <label for="_normalInput">Text</label>
              <input type="text" id="_normalInput" />
              <div class="input__sub-text">Hint message</div>
            </div>

            <div class="text-right">
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="invalid" />
                invalid
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="disabled" />
                disabled
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="readonly" />
                read-only
              </label>
            </div>
          </div>
        </section>

        <h2 class="h3 mt-64 text-bluegray-500">Select</h2>
        <syntax-highlight class="mb-0">
          <div class="input input--select">
            <label for="xyx">Select</label>
            <div class="input--select__wrap">
              <select id="xyx">
                <option>Velg noe</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="input__sub-text">Hint message</div>
          </div>
        </syntax-highlight>
        <section x-data="{ invalid: false, disabled: false, readonly: false }">
          <div class="bg-bluegray-50 p-16 border-t-2 border-bluegray-200">
            <div
              class="input input--select"
              :class="{ 'input--is-invalid': invalid, 'input--is-disabled': disabled, 'input--is-read-only': readonly }"
            >
              <label for="xyx">Select</label>
              <div class="input--select__wrap">
                <select id="xyxz">
                  <option>Velg noe</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div class="input__sub-text">Hint message</div>
            </div>

            <div class="text-right">
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="invalid" />
                invalid
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="disabled" />
                disabled
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="readonly" />
                read-only
              </label>
            </div>
          </div>
        </section>

        <h2 class="h3 mt-64 text-bluegray-500">Textarea</h2>
        <syntax-highlight class="mb-0">
          <div class="input">
            <label for="textarea-example">Textarea</label>
            <textarea id="textarea-example" rows="2"></textarea>
            <div class="input__sub-text">Hint message</div>
          </div>
        </syntax-highlight>
        <section x-data="{ invalid: false, disabled: false, readonly: false }">
          <div class="bg-bluegray-50 p-16 border-t-2 border-bluegray-200">
            <div
              class="input"
              :class="{ 'input--is-invalid': invalid, 'input--is-disabled': disabled, 'input--is-read-only': readonly }"
            >
              <label for="textarea-example">Textarea</label>
              <textarea id="textarea-example" rows="2"></textarea>
              <div class="input__sub-text">Hint message</div>
            </div>

            <div class="text-right">
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="invalid" />
                invalid
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="disabled" />
                disabled
              </label>
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="readonly" />
                read-only
              </label>
            </div>
          </div>
        </section>

        <h2 class="h3 mt-64 text-bluegray-500">Toggle - Radio</h2>
        <syntax-highlight class="mb-0">
          <div class="field">
            <label>Contact method</label>
            <div class="input-toggle">
              <input type="radio" id="contactChoice1" name="contact" value="email" checked />
              <label for="contactChoice1">Email</label>
            </div>
            <div class="input-toggle">
              <input type="radio" id="contactChoice2" name="contact" value="phone" />
              <label for="contactChoice2">Phone</label>
            </div>
          </div>
        </syntax-highlight>
        <section x-data="{ disabled: false }">
          <div class="bg-bluegray-50 p-16 border-t-2 border-bluegray-200">
            <div class="field">
              <label>Contact method</label>
              <div class="input-toggle" :class="{ 'input-toggle--is-disabled': disabled }">
                <input type="radio" id="contactChoice3" name="contact" value="email" checked />
                <label for="contactChoice3">Email</label>
              </div>
              <div class="input-toggle" :class="{ 'input-toggle--is-disabled': disabled }">
                <input type="radio" id="contactChoice4" name="contact" value="phone" />
                <label for="contactChoice4">Phone</label>
              </div>
            </div>
            <div class="text-right">
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="disabled" />
                disabled
              </label>
            </div>
          </div>
        </section>

        <h2 class="h3 mt-64 text-bluegray-500">Toggle - Checkbox</h2>
        <syntax-highlight class="u-mb0">
          <div class="field">
            <label>Checkboxes!</label>
            <div class="input-toggle">
              <input type="checkbox" id="fancycheckbox1" checked />
              <label for="fancycheckbox1">Nothing</label>
            </div>
            <div class="input-toggle">
              <input type="checkbox" id="fancycheckbox2" />
              <label for="fancycheckbox2">Something</label>
            </div>
          </div>
        </syntax-highlight>
        <section x-data="{ disabled: false }">
          <div class="bg-bluegray-50 p-16 border-t-2 border-bluegray-200">
            <div class="field">
              <label>Checkboxes!</label>
              <div class="input-toggle" :class="{ 'input-toggle--is-disabled': disabled }">
                <input type="checkbox" id="fancycheckbox3" checked />
                <label for="fancycheckbox3">Nothing</label>
              </div>
              <div class="input-toggle" :class="{ 'input-toggle--is-disabled': disabled }">
                <input type="checkbox" id="fancycheckbox4" />
                <label for="fancycheckbox4">Something</label>
              </div>
            </div>
            <div class="text-right">
              <label class="mr-32">
                <input class="mr-8" type="checkbox" x-model="disabled" />
                disabled
              </label>
            </div>
          </div>
        </section>

        <h2 class="h3 mt-64 text-bluegray-500">Toggle - Radio-button</h2>
        <syntax-highlight class="u-mb0">
          <div class="field">
            <label id="segment-label">Number of rooms:</label>
            <div aria-labelledby="segment-label" class="segment-control" role="radiogroup">
              <input type="radio" name="group-1" id="one-d" checked="" />
              <label for="one-d">One</label>
              <input type="radio" name="group-1" id="two-d" />
              <label for="two-d">Two</label>
              <input type="radio" name="group-1" id="three-d" />
              <label for="three-d">Three</label>
              <input type="radio" name="group-1" id="four-d" />
              <label for="four-d">Four</label>
            </div>
            <div class="field-hint">A segment hint</div>
          </div>
        </syntax-highlight>

        <section
          x-data="{ small: false, justified: false, disabled: false }"
          class="bg-bluegray-50 p-16 border-t-2 border-bluegray-200"
        >
          <div class="field">
            <label id="segment-label">Number of rooms:</label>
            <div
              aria-labelledby="segment-label"
              class="segment-control"
              :class="{ 'segment-control--small': small, 'segment-control--justified': justified, 'segment-control--is-disabled': disabled }"
              role="radiogroup"
            >
              <input type="radio" name="group-1" id="one" checked="" />
              <label for="one">One</label>
              <input type="radio" name="group-1" id="two" />
              <label for="two">Two</label>
              <input type="radio" name="group-1" id="three" />
              <label for="three">Three</label>
              <input type="radio" name="group-1" id="four" />
              <label for="four">Four</label>
            </div>
            <div class="field-hint">A segment hint, Error msg</div>
          </div>
          <div class="text-right">
            <label class="mr-32">
              <input class="mr-8" type="checkbox" x-model="disabled" />
              disabled
            </label>
            <label class="mr-32">
              <input class="mr-8" type="checkbox" x-model="small" />
              small
            </label>
            <label class="mr-32">
              <input class="mr-8" type="checkbox" x-model="justified" />
              justified
            </label>
          </div>
        </section>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  </body>
</html>
