<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1>Rounded</h1>
        <h2>Syntax px units</h2>
        <p class="pb-0">
          Border-radius related utillity classes. Supporting Units in pixels, this translates directly to
          border-radius: 8px.
        </p>
        <syntax-highlight>
          <div class="rounded-0"></div>
          <div class="rounded-2"></div>
          <div class="rounded-4"></div>
          <div class="rounded-6"></div>
          <div class="rounded-8"></div>
          <div class="rounded-16"></div>
          <div class="rounded-20"></div>
          <div class="rounded-30"></div>
          <div class="rounded-full"></div>
        </syntax-highlight>
        <section class="space-x-16 flex example rub">
          <div class="bg-gray-200 h-64 w-64 rounded-0"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-2"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-4"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-6"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-8"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-16"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-20"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-30"></div>
          <div class="bg-gray-200 h-64 w-64 rounded-full"></div>
        </section>

        <h2>Directional pattern</h2>
        <p>
          As most things in Fabric/Tailwind this follows the same directional pattern. (tl-t-tr-r-br-b-bl-l)
        </p>

        <syntax-highlight>
          <div class="rounded-tl-16"></div>
          <div class="rounded-t-16"></div>
          <div class="rounded-tr-16"></div>
          <div class="rounded-r-16"></div>
          <div class="brounded-br-16"></div>
          <div class="rounded-b-16"></div>
          <div class="rounded-bl-16"></div>
          <div class="rounded-l-16"></div>
        </syntax-highlight>
        <section class="space-x-16 flex example rub">
          <div class="bg-gray-200 rounded-tl-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-t-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-tr-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-r-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-br-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-b-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-bl-16 h-64 w-64"></div>
          <div class="bg-gray-200 rounded-l-16 h-64 w-64"></div>
        </section>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
