<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1>Shadows</h1>

        <syntax-highlight>
          <div class="shadow"></div>
          <div class="shadow-2"></div>
          <div class="shadow-3"></div>
          <div class="shadow-4"></div>
        </syntax-highlight>

        <section class="space-x-16 flex example">
          <div class="h-128 w-128 shadow"></div>
          <div class="h-128 w-128 shadow-2"></div>
          <div class="h-128 w-128 shadow-3"></div>
          <div class="h-128 w-128 shadow-4"></div>
        </section>

        <syntax-highlight>
          <div class="h-128 w-128 rounded-8 shadow"></div>
          <div class="h-128 w-128 rounded-8 shadow-2"></div>
          <div class="h-128 w-128 rounded-8 shadow-3"></div>
          <div class="h-128 w-128 rounded-8 shadow-4"></div>
        </syntax-highlight>
        <section class="space-x-16 flex example">
          <div class="h-128 w-128 rounded-8 shadow"></div>
          <div class="h-128 w-128 rounded-8 shadow-2"></div>
          <div class="h-128 w-128 rounded-8 shadow-3"></div>
          <div class="h-128 w-128 rounded-8 shadow-4"></div>
        </section>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
  </body>
</html>
