<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <f-docs-template>
      <%- include('nav.html'); -%>
      <main slot="content">
        <h1>Typography</h1>

        <h2>Heading defaults on h1-h5</h2>
        <syntax-highlight>
          <h1>Heading h1</h1>
          <h2>Heading h2</h2>
          <h3>Heading h3</h3>
          <h4>Heading h4</h4>
          <h5>Heading h5</h5>
        </syntax-highlight>
        <section class="example">
          <h1>Heading h1</h1>
          <h2>Heading h2</h2>
          <h3>Heading h3</h3>
          <h4>Heading h4</h4>
          <h5>Heading h5</h5>
        </section>

        <h2>Semantic headings</h2>
        <p>Override the semantic headings(h tags) with .h1 - .h5 for the correct look.</p>
        <p>Sets all the heading styles needed. font-size/line-height/weight...</p>

        <syntax-highlight>
          <h2 class="h3">Heading</h2>
        </syntax-highlight>
        <section class="example">
          <h2 class="h3">Heading</h2>
        </section>

        <h2>Text-sizes</h2>
        <p>Regular font sizes. These only set font-size, and line-height.</p>
        <syntax-highlight>
          <p class="text-64">Text-64</p>
          <p class="text-34">Text-34</p>
          <p class="text-28">Text-28</p>
          <p class="text-22">Text-22</p>
          <p class="text-16">Text-16</p>
          <p class="text-14">Text-14</p>
          <p class="text-12">Text-12</p>
        </syntax-highlight>
        <section class="example">
          <p class="text-64">Text-64</p>
          <p class="text-34">Text-34</p>
          <p class="text-28">Text-28</p>
          <p class="text-22">Text-22</p>
          <p class="text-16">Text-16</p>
          <p class="text-14">Text-14</p>
          <p class="text-12">Text-12</p>
        </section>

        <h2>Tabular numbers</h2>
        <p>
          Tabular numbers are great for comparing amounts in a column. The 'system font' is used because
          FINNfont does not support this feature.
        </p>
        <syntax-highlight>
          <p class="text-12 text-right tabular-nums">1 888 888 kr</p>
          <p class="text-12 text-right tabular-nums">8 111 111 kr</p>
        </syntax-highlight>
        <section class="example">
          <h3 class="h5">With tabular numbers</h3>
          <p class="text-12 text-right tabular-nums">1 888 888 kr</p>
          <p class="text-12 text-right tabular-nums">8 111 111 kr</p>

          <h3 class="h5 mt-8">Without tabular numbers</h3>
          <p class="text-12 text-right">1 888 888 kr</p>
          <p class="text-12 text-right">8 111 111 kr</p>
        </section>
      </main>
      <%- include('footer.html'); -%>
    </f-docs-template>

    <%- include('scripts.html'); -%>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  </body>
</html>
