.button,
.button--secondary,
.button--default {
    /* Common for all button types */
    @apply font-bold rounded-8 leading-24 max-w-max focus-ring;
    transition-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transition-property: background-color, border-color;

    /* secondary */
    @apply py-10 px-14 text-blue-600 bg-white border-gray-300 border-2 hover:bg-blue-50 hover:border-blue-600 active:bg-blue-100;
}

/* Overrides for links pretending to be buttons */
a.button,
a.button:active,
a.button:hover {
    @apply no-underline inline-flex;
}

.button--primary,
.button--cta {
    @apply py-12 px-16;
    @apply border-0;
    @apply text-white bg-blue-600  hover:bg-blue-700 active:bg-blue-800;
}

.button--tertiary,
.button--flat {
    @apply py-12 px-16;
    @apply border-0 bg-transparent;
    @apply text-blue-600 hover:bg-blue-50 active:bg-blue-100;
}

.button--destructive {
    @apply py-12 px-16;
    @apply border-0;
    @apply text-white bg-red-600 hover:bg-red-700 active:bg-red-800;
}

.button--destructive-flat {
    @apply py-12 px-16;
    @apply border-0 bg-transparent;
    @apply text-red-600 hover:bg-red-50 active:bg-red-100;
}

.button--order {
    @apply py-12 px-16;
    @apply border-0;
    @apply text-gray-900 bg-green-400 hover:bg-green-500 active:bg-green-600;
}

.button--utility {
    padding: 11px 15px;
    @apply text-gray-800 bg-white border-gray-300 border hover:bg-white hover:border-gray-400 active:bg-gray-100 rounded-4;
}

.button--utility-flat {
    padding: 12px 16px;
    @apply bg-transparent;
    @apply text-gray-800 hover:bg-gray-100 active:border-gray-500 active:bg-gray-100 rounded-4;
}

.button--pill {
    border-radius: 50%;
    min-height: 44px;
    min-width: 44px;
    @apply border-transparent p-4 text-bluegray-600 bg-transparent inline-flex items-center justify-center;
}

.button--pill:hover {
    background-color: rgba(var(--f-blue-600-rgb), 0.1);
    background-clip: padding-box;
    border-color: hsla(0, 0%, 100%, 0.4);
}

.button--link {
    /* Supposed to emulate link behavior, Should rather inherit the actual link setup */
    @apply font-normal border-0 inline bg-transparent p-0 m-0;
}

.button--link:hover,
.button--link:active {
    @apply underline bg-transparent;
}

/* Sizing */
.button--small {
    @apply px-16 py-8 text-12 leading-16;
}

.button--small.button--secondary {
    padding-top: 6px;
    padding-bottom: 6px;
}

.button--small.button--utility {
    padding: 7px 15px;
}

.button--small.button--pill {
    @apply p-4;
    min-height: 36px;
    min-width: 36px;
}
.button--small.button--link {
    @apply p-0;
}

/* Disabled state */
.button:disabled,
.button--is-disabled {
    @apply bg-bluegray-300;
    @apply border-bluegray-300;
    @apply text-white;
    @apply bg-none;
    @apply cursor-default;
    @apply pointer-events-none;
}

/* progress-indicator */
.button--in-progress,
a.button--in-progress:visited {
    @apply pointer-events-none;
    @apply border-transparent;
    @apply text-gray-500;
    background-size: 30px 30px !important;
    @apply bg-gray-100 !important;
    background-image: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.05) 25%,
        transparent 0,
        transparent 50%,
        rgba(0, 0, 0, 0.05) 0,
        rgba(0, 0, 0, 0.05) 75%,
        transparent 0,
        transparent
    ) !important;
    animation: animate-inprogress 3s linear infinite;
}

@keyframes animate-inprogress {
    0% {
        background-position: 0 0;
    }

    to {
        background-position: 60px 0;
    }
}
