.f-slider .f-thumb {
    &:hover,
    &:focus {
        & .f-thumb-center {
            transform: scale(1.25);
        }
    }
}

.f-step {
    &:last-child .f-step-line {
        display: none;
    }

    &.f-step-h:last-child {
        flex: 0 1 auto;
    }
}
