.input {
    @apply text-16 relative;

    & input,
    & select,
    & textarea {
        @apply block border bg-white text-gray-700 border-bluegray-300 px-8 py-12 rounded-4 w-full;

        &:hover {
            @apply border-gray-500;
        }
        &:focus {
            @apply ring-1 ring-inset ring-blue-600 border-blue-600 outline-none;
            caret-color: var(--f-blue-600);
        }
    }

    & input[type="number"] {
        -moz-appearance: textfield;
    }

    & select {
        @apply appearance-none pr-32 cursor-pointer;
    }

    & label {
        @apply antialiased block relative text-14 text-gray-700 font-bold pb-4 cursor-pointer;
    }

    & textarea {
        resize: vertical;
        min-height: 42px;
        @media (--min480) {
            min-height: 45px; /* height on desktop */
        }
    }

    & > .input__sub-text {
        @apply text-12 mt-4 block;
    }

    @nest .is-invalid &, &.input--is-invalid {
        & input, & select, & textarea {
            @apply border-red-600;

            &:focus {
                @apply ring-1 ring-inset ring-red-600 outline-none;
            }
        }

        & label, & .input__sub-text {
            @apply text-red-600;
        }
    }

    @nest .is-disabled &, &.input--is-disabled {
        & input, & select, & textarea {
            @apply bg-gray-200 border-gray-200 text-bluegray-300 pointer-events-none;
        }
        & .input--select__wrap:before {
            opacity: 0.25;
        }
    }

    &.input--is-read-only {
        & input,
        & select,
        & textarea {
            @apply pl-0 bg-transparent border-transparent pointer-events-none;
        }

        & .input--select__wrap:before {
            display: none;
        }
    }

    @nest .has-suffix & input, &.input--search input {
        @apply pr-40;
    }
    @nest .has-wide-suffix & input {
        @apply pr-80;
    }
}

.input--select__wrap {
    @apply relative;

    &:before {
        @apply block absolute right-0 bottom-0 w-32 h-full;
        content: "";
        background-image: svg-load("16/chevron-down.svg", currentColor: "#404040");
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 62.5%;
        pointer-events: none;
    }
}

.input-toggle {
    @apply relative py-1;

    & label {
        @apply cursor-pointer text-16 text-gray-700 py-2 pl-28 select-none relative block;
        -webkit-tap-highlight-color: transparent;
    }

    & input {
        @apply sr-only;

        & + label:before {
            @apply border border-gray-500 absolute block transition-all left-0 w-20 h-20 h-20 top-2;
            content: "";
        }

        &:hover + label:before {
            @apply border-blue-600;
            background-color: rgba(var(--f-blue-600-rgb), 0.1);
        }

        &:focus + label {
            outline: 2px solid var(--f-aqua-400);
            outline-offset: 1px;
        }

        &:focus:not(:focus-visible) + label {
            outline: none;
        }

        &:focus-visible + label {
            outline: 2px solid var(--f-aqua-400);
            outline-offset: 1px;
        }
    }

    & input[type="radio"] {
        & + label:before {
            @apply rounded-full;
        }

        &:checked + label:before {
            @apply border-blue-600;
            border-width: 6px;
        }

        &:checked:hover + label:before {
            @apply border-blue-700;
        }
    }

    & input[type="checkbox"] {
        & + label:before {
            @apply rounded-2;
            background-image: svg-load("16/check.svg", currentColor: "white");
            background-position: center;
        }

        &:indeterminate + label:before,
        &:checked + label:before {
            @apply bg-blue-600 border-blue-600;
        }

        &:indeterminate:hover + label:before,
        &:checked:hover + label:before {
            @apply bg-blue-700 border-blue-700;
        }

        &:indeterminate + label:before {
            @apply text-white text-center font-bold;
            content: "–";
            line-height: 1.1;
            background-image: none;
        }
    }

    @nest .is-disabled &, &.input-toggle--is-disabled {
        & label {
            @apply text-bluegray-300 pointer-events-none;
        }

        & input {
            @apply pointer-events-none;
        }

        /* we duplicate 'type' here for specificity */
        & input[type="radio"] + label:before, & input[type="checkbox"] + label:before {
            @apply border-bluegray-300;
        }

        & input[type="checkbox"]:checked + label:before {
            @apply bg-bluegray-300;
        }
    }
}

.segment-control {
    @apply inline-flex relative font-bold rounded-8;

    &:focus-within {
        box-shadow: 0 0 0 1px var(--f-white), 0 0 0 3px var(--f-aqua-400);
    }

    @nest .is-disabled &, &.segment-control--is-disabled {
        & .segment-control__item, & label {
            @apply bg-gray-200 border-gray-200 text-bluegray-300 pointer-events-none;
        }
        & input[type="radio"]:checked + .segment-control__item, & input[type="radio"]:checked + label {
            @apply bg-gray-300 border-gray-300 text-bluegray-400;
        }
    }

    & label,
    & .segment-control__item {
        /* from .input label */
        @apply block relative text-14 font-bold pb-4 cursor-pointer;

        @apply text-blue-600 text-center bg-white border-2 border-bluegray-300 py-10 px-14;
        flex: 0 0 auto;

        &:first-of-type {
            @apply rounded-tl-8 rounded-bl-8;
        }
        &:not(:last-of-type) {
            @apply border-r-0;
        }
        &:last-of-type {
            @apply rounded-tr-8 rounded-br-8;
        }
        &:hover {
            @apply bg-aqua-50;
        }
    }

    & [type="radio"] {
        @apply sr-only;
    }
    & [type="radio"]:checked {
        & + label,
        & + .segment-control__item {
            @apply bg-blue-600 border-blue-600 text-white pr-16;
        }
        & + label + * + label,
        & + .segment-control__item + * + .segment-control__item {
            @apply border-l-0;
        }
    }

    &.segment-control--justified {
        @apply flex;

        & label,
        & .segment-control__item {
            flex: 1 0 auto;
        }
    }
    &.segment-control--small {
        & label,
        & .segment-control__item {
            padding: 5px 8px !important;
            @apply text-12;
        }
    }
}
