@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url("https://use.typekit.net/qhp8ajm.css");


body {
    /* Trickery: resets a more sensible default font-size */
    @apply bg-white text-gray-500 text-16;
    /* Always stretch body to fill the width, this makes the behaviour of the scrollbar a little nicer in some cases */
    min-height: 100%;
    /* Always show Scrollbar to prevent content jumping in certain situations (dynamic loading etc) */
    overflow-y: scroll;
}

dt,
dd {
    margin: 0 16px;
}

h1{
    @apply text-honkburgundy-800;
    margin: 0 0 8px 0;
    font-family: moret, serif;
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;

    @media (max-width: 479px) {
        font-size: 34px;
        line-height: 41px;
    }
}
h2 {
    @apply text-honkburgundy-800;
    margin: 0 0 8px 0;
    font-family: moret, serif;
    font-size: 28px;
    line-height: 34px;
    font-weight: 400;
}
h3 {
    @apply text-honkburgundy-800;
    font-family: Inter, serif;
    margin: 0 0 8px 0;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}
h4,
h5,
ul,
ol,
dl,
blockquote {
    @apply text-honkburgundy-800;
    margin: 0 0 8px 0;
    font-family: Inter, serif;
}

div,
label,
span {
    @apply text-honkburgundy-800;
    font-family: Inter, serif;
}

/*
  * Default anchor styles
  */
a {
    @apply text-honkburgundy-800;
    @apply cursor-pointer;
    @apply underline;
    font-family: Inter;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
p {
    @apply text-honkburgundy-800;
    font-family: Inter;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 8px 0;
}

a:active,
a:focus,
a:hover {
    @apply underline;
}

/*
  * normalize sets these to 'bolder', which doesn't work with our font
  */
b,
strong {
    font-weight: 500;
}

/* Used to be part of normalize.css */
[hidden] {
    display: none !important;
}

/* tabindex=-1 are often used on skiplink targets, this ensures the outline is only visible when it should */
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: none;
}

/* fieldset + legend tries to place the legend on the fieldset's "line", we need to override this to get sane behavior */
legend {
    display: table;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;

    & + * {
        clear: both;
    }
}

fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
    display: table-cell;
}

.text-15 {
    font-size: 15px;
}

/* Ensure font styling gets appended to the DOM and SDOM */
html,
:host {
    font-family: moret, Inter, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
