



:root {
	--f-blue-50: #eff5ff;
	--f-blue-100: #e1edfe;
	--f-blue-200: #c2dafe;
	--f-blue-300: #9ac1fe;
	--f-blue-400: #5e9cfd;
	--f-blue-500: #2b7eff;
	--f-blue-600: #0063fb;
	--f-blue-700: #004abc;
	--f-blue-800: #003e9d;
	--f-blue-900: #003280;
	--f-aqua-50: #f1f9ff;
	--f-aqua-100: #e0f6ff;
	--f-aqua-200: #b6f0ff;
	--f-aqua-300: #84e1fc;
	--f-aqua-400: #06befb;
	--f-aqua-500: #03a3dd;
	--f-aqua-600: #048bb7;
	--f-aqua-700: #037297;
	--f-aqua-800: #025c83;
	--f-aqua-900: #024764;
	--f-green-50: #ebfff6;
	--f-green-100: #cdfee5;
	--f-green-200: #9efcd1;
	--f-green-300: #67eeb8;
	--f-green-400: #2ee69f;
	--f-green-500: #18c884;
	--f-green-600: #059e6f;
	--f-green-700: #217a5f;
	--f-green-800: #065f46;
	--f-green-900: #064e3b;
	--f-yellow-50: #fff8e6;
	--f-yellow-100: #fff5c8;
	--f-yellow-200: #feef90;
	--f-yellow-300: #fae76b;
	--f-yellow-400: #ffe11f;
	--f-yellow-500: #eeb61b;
	--f-yellow-600: #d5840b;
	--f-yellow-700: #ae6c09;
	--f-yellow-800: #885407;
	--f-yellow-900: #6b4206;
	--f-red-50: #fff5f5;
	--f-red-100: #ffefef;
	--f-red-200: #ffd1d1;
	--f-red-300: #ff9999;
	--f-red-400: #ff5844;
	--f-red-500: #fa270f;
	--f-red-600: #d91f0a;
	--f-red-700: #b91409;
	--f-red-800: #991500;
	--f-red-900: #801a00;
	--f-bluegray-50: #f8fafc;
	--f-bluegray-100: #f1f4f9;
	--f-bluegray-200: #e1e6ee;
	--f-bluegray-300: #c3ccd9;
	--f-bluegray-400: #9ba8ba;
	--f-bluegray-500: #6f7d90;
	--f-bluegray-600: #4d586f;
	--f-bluegray-700: #3a445a;
	--f-bluegray-800: #272e3f;
	--f-bluegray-900: #0f1729;
	--f-gray-50: #fafafa;
	--f-gray-100: #f5f5f5;
	--f-gray-200: #e5e5e5;
	--f-gray-300: #cccccc;
	--f-gray-400: #adadad;
	--f-gray-500: #767676;
	--f-gray-600: #525252;
	--f-gray-700: #464646;
	--f-gray-800: #2b2b2b;
	--f-gray-900: #171717;
	--f-honkburgundy-50: #FAE8F1;
	--f-honkburgundy-100: #E4CFD9;
	--f-honkburgundy-200: #CFB6C1;
	--f-honkburgundy-300: #C5A1B1;
	--f-honkburgundy-400: #B68399;
	--f-honkburgundy-500: #9B5A76;
	--f-honkburgundy-600: #82455F;
	--f-honkburgundy-700: #702846;
	--f-honkburgundy-800: #570E2D;
	--f-honkburgundy-900: #310015;
	--f-honkgreen-50: #F1FFE5;
	--f-honkgreen-100: #D5FFC5;
	--f-honkgreen-200: #BEFF98;
	--f-honkgreen-300: #A5FF70;
	--f-honkgreen-400: #8CFF48;
	--f-honkgreen-500: #70FA1E;
	--f-honkgreen-600: #57DB09;
	--f-honkgreen-700: #42B200;
	--f-honkgreen-800: #338900;
	--f-honkgreen-900: #246100;
	--f-honkpurple-50: #F0E6FF;
	--f-honkpurple-100: #E5D2FF;
	--f-honkpurple-200: #CFAAFF;
	--f-honkpurple-300: #B98DFD;
	--f-honkpurple-400: #A077E0;
	--f-honkpurple-500: #8863C3;
	--f-honkpurple-600: #7150A6;
	--f-honkpurple-700: #5B3E88;
	--f-honkpurple-800: #462E6B;
	--f-honkpurple-900: #32204E;
	--f-honkorange-50: #FFF1E5;
	--f-honkorange-100: #FFDFCE;
	--f-honkorange-200: #FFC5A7;
	--f-honkorange-400: #FFAD84;
	--f-honkorange-500: #FF7300;
	--f-honkorange-600: #D95B00;
	--f-honkorange-700: #B04A00;
	--f-honkorange-800: #873900;
	--f-honkorange-900: #5F2800;
	--f-honkpink-50: #FFEBF9;
	--f-honkpink-100: #FFD0FC;
	--f-honkpink-200: #FFA9F9;
	--f-honkpink-300: #EB92E5;
	--f-honkpink-400: #D47DCE;
	--f-honkpink-500: #B86DB3;
	--f-honkpink-600: #995995;
	--f-honkpink-700: #80487C;
	--f-honkpink-800: #663763;
	--f-honkpink-900: #4D284A;
	--f-honkyellow-50: #FFFBE2;
	--f-honkyellow-100: #FFF6B9;
	--f-honkyellow-200: #FFF191;
	--f-honkyellow-300: #FFEC6B;
	--f-honkyellow-400: #FFE63A;
	--f-honkyellow-500: #FFDF03;
	--f-honkyellow-600: #E4C807;
	--f-honkyellow-700: #B7A108;
	--f-honkyellow-800: #867500;
	--f-honkyellow-900: #5C5000;
	--f-honkgray-50: #FAF8FF;
	--f-honkgray-100: #E3E0EB;
	--f-honkgray-200: #CDC9D6;
	--f-honkgray-300: #B7B3C2;
	--f-honkgray-400: #A29EAD;
	--f-honkgray-500: #8D8999;
	--f-honkgray-600: #797485;
	--f-honkgray-700: #656170;
	--f-honkgray-800: #524E5C;
	--f-honkgray-900: #3F3B47;
	--f-honkred-800: #B60000;
	--f-white: #fff;
	--f-current: currentColor;
	--f-transparent: transparent;
	--f-blue-50-rgb: 239,245,255;
	--f-blue-100-rgb: 225,237,254;
	--f-blue-200-rgb: 194,218,254;
	--f-blue-300-rgb: 154,193,254;
	--f-blue-400-rgb: 94,156,253;
	--f-blue-500-rgb: 43,126,255;
	--f-blue-600-rgb: 0,99,251;
	--f-blue-700-rgb: 0,74,188;
	--f-blue-800-rgb: 0,62,157;
	--f-blue-900-rgb: 0,50,128;
	--f-aqua-50-rgb: 241,249,255;
	--f-aqua-100-rgb: 224,246,255;
	--f-aqua-200-rgb: 182,240,255;
	--f-aqua-300-rgb: 132,225,252;
	--f-aqua-400-rgb: 6,190,251;
	--f-aqua-500-rgb: 3,163,221;
	--f-aqua-600-rgb: 4,139,183;
	--f-aqua-700-rgb: 3,114,151;
	--f-aqua-800-rgb: 2,92,131;
	--f-aqua-900-rgb: 2,71,100;
	--f-green-50-rgb: 235,255,246;
	--f-green-100-rgb: 205,254,229;
	--f-green-200-rgb: 158,252,209;
	--f-green-300-rgb: 103,238,184;
	--f-green-400-rgb: 46,230,159;
	--f-green-500-rgb: 24,200,132;
	--f-green-600-rgb: 5,158,111;
	--f-green-700-rgb: 33,122,95;
	--f-green-800-rgb: 6,95,70;
	--f-green-900-rgb: 6,78,59;
	--f-yellow-50-rgb: 255,248,230;
	--f-yellow-100-rgb: 255,245,200;
	--f-yellow-200-rgb: 254,239,144;
	--f-yellow-300-rgb: 250,231,107;
	--f-yellow-400-rgb: 255,225,31;
	--f-yellow-500-rgb: 238,182,27;
	--f-yellow-600-rgb: 213,132,11;
	--f-yellow-700-rgb: 174,108,9;
	--f-yellow-800-rgb: 136,84,7;
	--f-yellow-900-rgb: 107,66,6;
	--f-red-50-rgb: 255,245,245;
	--f-red-100-rgb: 255,239,239;
	--f-red-200-rgb: 255,209,209;
	--f-red-300-rgb: 255,153,153;
	--f-red-400-rgb: 255,88,68;
	--f-red-500-rgb: 250,39,15;
	--f-red-600-rgb: 217,31,10;
	--f-red-700-rgb: 185,20,9;
	--f-red-800-rgb: 153,21,0;
	--f-red-900-rgb: 128,26,0;
	--f-bluegray-50-rgb: 248,250,252;
	--f-bluegray-100-rgb: 241,244,249;
	--f-bluegray-200-rgb: 225,230,238;
	--f-bluegray-300-rgb: 195,204,217;
	--f-bluegray-400-rgb: 155,168,186;
	--f-bluegray-500-rgb: 111,125,144;
	--f-bluegray-600-rgb: 77,88,111;
	--f-bluegray-700-rgb: 58,68,90;
	--f-bluegray-800-rgb: 39,46,63;
	--f-bluegray-900-rgb: 15,23,41;
	--f-gray-50-rgb: 250,250,250;
	--f-gray-100-rgb: 245,245,245;
	--f-gray-200-rgb: 229,229,229;
	--f-gray-300-rgb: 204,204,204;
	--f-gray-400-rgb: 173,173,173;
	--f-gray-500-rgb: 118,118,118;
	--f-gray-600-rgb: 82,82,82;
	--f-gray-700-rgb: 70,70,70;
	--f-gray-800-rgb: 43,43,43;
	--f-gray-900-rgb: 23,23,23;
	--f-honkburgundy-50-rgb: 250,232,241;
	--f-honkburgundy-100-rgb: 228,207,217;
	--f-honkburgundy-200-rgb: 207,182,193;
	--f-honkburgundy-300-rgb: 197,161,177;
	--f-honkburgundy-400-rgb: 182,131,153;
	--f-honkburgundy-500-rgb: 155,90,118;
	--f-honkburgundy-600-rgb: 130,69,95;
	--f-honkburgundy-700-rgb: 112,40,70;
	--f-honkburgundy-800-rgb: 87,14,45;
	--f-honkburgundy-900-rgb: 49,0,21;
	--f-honkgreen-50-rgb: 241,255,229;
	--f-honkgreen-100-rgb: 213,255,197;
	--f-honkgreen-200-rgb: 190,255,152;
	--f-honkgreen-300-rgb: 165,255,112;
	--f-honkgreen-400-rgb: 140,255,72;
	--f-honkgreen-500-rgb: 112,250,30;
	--f-honkgreen-600-rgb: 87,219,9;
	--f-honkgreen-700-rgb: 66,178,0;
	--f-honkgreen-800-rgb: 51,137,0;
	--f-honkgreen-900-rgb: 36,97,0;
	--f-honkpurple-50-rgb: 240,230,255;
	--f-honkpurple-100-rgb: 229,210,255;
	--f-honkpurple-200-rgb: 207,170,255;
	--f-honkpurple-300-rgb: 185,141,253;
	--f-honkpurple-400-rgb: 160,119,224;
	--f-honkpurple-500-rgb: 136,99,195;
	--f-honkpurple-600-rgb: 113,80,166;
	--f-honkpurple-700-rgb: 91,62,136;
	--f-honkpurple-800-rgb: 70,46,107;
	--f-honkpurple-900-rgb: 50,32,78;
	--f-honkorange-50-rgb: 255,241,229;
	--f-honkorange-100-rgb: 255,223,206;
	--f-honkorange-200-rgb: 255,197,167;
	--f-honkorange-400-rgb: 255,173,132;
	--f-honkorange-500-rgb: 255,115,0;
	--f-honkorange-600-rgb: 217,91,0;
	--f-honkorange-700-rgb: 176,74,0;
	--f-honkorange-800-rgb: 135,57,0;
	--f-honkorange-900-rgb: 95,40,0;
	--f-honkpink-50-rgb: 255,235,249;
	--f-honkpink-100-rgb: 255,208,252;
	--f-honkpink-200-rgb: 255,169,249;
	--f-honkpink-300-rgb: 235,146,229;
	--f-honkpink-400-rgb: 212,125,206;
	--f-honkpink-500-rgb: 184,109,179;
	--f-honkpink-600-rgb: 153,89,149;
	--f-honkpink-700-rgb: 128,72,124;
	--f-honkpink-800-rgb: 102,55,99;
	--f-honkpink-900-rgb: 77,40,74;
	--f-honkyellow-50-rgb: 255,251,226;
	--f-honkyellow-100-rgb: 255,246,185;
	--f-honkyellow-200-rgb: 255,241,145;
	--f-honkyellow-300-rgb: 255,236,107;
	--f-honkyellow-400-rgb: 255,230,58;
	--f-honkyellow-500-rgb: 255,223,3;
	--f-honkyellow-600-rgb: 228,200,7;
	--f-honkyellow-700-rgb: 183,161,8;
	--f-honkyellow-800-rgb: 134,117,0;
	--f-honkyellow-900-rgb: 92,80,0;
	--f-honkgray-50-rgb: 250,248,255;
	--f-honkgray-100-rgb: 227,224,235;
	--f-honkgray-200-rgb: 205,201,214;
	--f-honkgray-300-rgb: 183,179,194;
	--f-honkgray-400-rgb: 162,158,173;
	--f-honkgray-500-rgb: 141,137,153;
	--f-honkgray-600-rgb: 121,116,133;
	--f-honkgray-700-rgb: 101,97,112;
	--f-honkgray-800-rgb: 82,78,92;
	--f-honkgray-900-rgb: 63,59,71;
	--f-honkred-800-rgb: 182,0,0;
	--f-primaryBlue: var(--f-blue-600);
	--f-secondaryBlue: var(--f-aqua-400);
	--f-ice: var(--f-aqua-50);
	--f-toothpaste: var(--f-aqua-200);
	--f-mint: var(--f-green-100);
	--f-pea: var(--f-green-400);
	--f-lime: var(--f-green-600);
	--f-banana: var(--f-yellow-100);
	--f-salmon: var(--f-red-100);
	--f-watermelon: var(--f-red-400);
	--f-cherry: var(--f-red-600);
	--f-marble: var(--f-bluegray-50);
	--f-sardine: var(--f-bluegray-300);
	--f-stone: var(--f-gray-500);
	--f-licorice: var(--f-gray-700);
	--f-text-primary: var(--f-gray-700);
	--f-text-secondary: var(--f-gray-500);
	--f-text-danger: var(--f-red-600);
}
